---
# Only the main Sass file needs front matter (the dashes are enough)
---

$main: #F05242;
$light-green: #42aaa5;
$dark-green: #638a84;

.row {

  // width: 1000px;
  overflow: hidden;
  display: block;

  .column {

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    float: left;
    padding: 5px;

    height: 100px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &.twelve {
      width: 100%;
    }
    &.six {
      width: 50%;
    }
    &.four {
      width: 33.3333333333%;
    }
    &.three {
      width: 25%;
    }
  }
}

@mixin holders($colour) {
  border-top: solid 2px $colour;
  border-left: solid 2px $colour;
  border-right: solid 2px $colour;
}

@mixin arrow($colour) {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 9px solid $colour;
  // display: inline-block;
  margin-top: 15px;
  margin-right: 15px;
  // margin-right: -5px;
  float: left;
}

@mixin border-box() {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

@font-face {
    font-family: 'ozone';
    src: url('/fonts/ozone.eot');
    src: url('/fonts/ozone.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ozone.woff') format('woff'),
         url('/fonts/ozone.ttf') format('truetype'),
         url('/fonts/ozone.svg#ozone') format('svg');
    font-weight: normal;
    font-style: normal;

}

a:link {
  text-decoration:none;
  color: inherit;
}
a:visited {
  text-decoration:none;
  color: inherit;
}
a:hover {
  text-decoration:none;
  color: inherit;
}
a:active {
  text-decoration:none;
  color: inherit;
}

body {
  // margin-top: 100px !important;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-weight: 300;
}

header {
  height: 100px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 100;

  // border-bottom: solid 3px $main;

  #logo {
    float: left;
    font-family: 'ozone';
    line-height: 100px;
    font-size: 45px;
    letter-spacing: 40px;
    color: $main;
  }

  #nav {
    float: right;
    list-style: none;

    .nav-list {
      color: $dark-green;
      text-transform: uppercase;
      letter-spacing: 1px;
      position: relative;

      .marker {
        position: absolute;
        top: 0;
        left: 20px;
        width: 49px;
        height: 12px;
        background-color: $main;
        -webkit-transition: all .8s;
        -moz-transition: all .8s;
        transition: all .8s;
      }

      li {
        float: left;
        margin: 0 20px;
        // border-top: solid 12px white;
        cursor: pointer;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
        position: relative;
        overflow: hidden;

        a {

          display: block;
          height: 76px;
          line-height: 76px;
          padding: 12px 0;
          // padding: 0 20px;

          &:hover {
            color: $main;
          }
        }

        // .marker {
        //   position: absolute;
        //   top: 0;
        //   height: 0;
        //   width: 100%;
        //   background-color: $main;
        //   -webkit-transition: all .8s;
        //   -moz-transition: all .8s;
        //   transition: all .8s;
        // }

        &.active {
          // border-top: solid 12px $main;
          color: $main;

          // .marker {
          //   height: 12px !important;
          // }
        }
      }
    }
  }
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

.title, .subtitle {
  font-family: 'ozone';
  overflow: hidden;
  text-align: center;
  display: inline-block;
  margin: 0 auto;

  span {
    float: left;
  }
}

.title {
  font-size: 35px;
  letter-spacing: 10px;
}

.subtitle {
  font-size: 25px;
  letter-spacing: 6px;
  line-height: 35px;
}

.section {

  .wrapper {
    padding: 120px 0;
  }
}

.bgimg {
  background-position: center center;
  background-size: 100% auto;
}

#home {
  padding-top: 100px;
  width: 100%;
  height: 700px;
  background-image: url('/img/home_bg.jpg');
  min-width: 1000px;
}

#banda {
  width: 100%;
  background-color: $main;
  color: white;
  // border-top: solid 5px white;

  .title {
    color: white;
  }

  .holder {
    @include holders(white);
    margin-bottom: 100px;
  }

  .arrow {
    @include arrow(white);
  }

  .sub-cat {
    .holder {
      margin-bottom: 60px !important;
    }
  }

  .left-wrapper {
    width: 400px;
    margin-right: 100px;
    float: left;
    position: relative;

    .tracks {
      margin: 30px 0 0 0;
      // list-style: decimal !important;
      // line-height: 30px;


    }

    .agradecimento {
      margin-top: 130px !important;
    }

    .agrad-texto {
      line-height: 35px;
      letter-spacing: 1px;
      text-align:justify;
      text-justify:inter-word;
    }
  }

  .right-wrapper {
    width: 500px;
    float: left;

    .pessoas {
      list-style: none;
      overflow: hidden;

      li {
        margin-bottom: 30px;
      }
    }
  }
}

#contato {
  height: 700px;
  overflow: hidden;

  .title {
    color: $main;
  }

  .holder {
    @include holders($main);
    margin-bottom: 100px;
  }

  .arrow {
    @include arrow($main);
  }

  .contato {
    color: #222;
    font-size: 20px;
    width: 50%;
    float: left;
    margin-top: 80px;

    li {
      margin-bottom: 20px;

      i {
        display: inline-block;
        margin-right: 15px !important;
        width: 20px;
      }
    }
  }
}

.holder {
  width: 100%;
  height: 15px;
  margin-top: 10px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#separator {
  background-size: 100%;
  width: 100%;
  height: 50px;
  background-color: $light-green;
}

footer {
  width: 100%;
  height: 30px;
  background-color: $main;
}


.holder-bonecos {
  float: right;
  width: 40%;
}
.bonecos {
  // float: right;
  width: 320px;
  height: 355px;
  margin: 0 auto;
  // margin: 150px auto 50px auto;
}