.row {

  // width: 1000px;
  overflow: hidden;
  display: block;

  .column {

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    
    float: left;
    padding: 5px;

    height: 100px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &.twelve {
      width: 100%;
    }
    &.six {
      width: 50%;
    }
    &.four {
      width: 33.3333333333%;
    }
    &.three {
      width: 25%;
    }
  }
}