!!!
%html
  %head
    %title Banda Neemias
    %link{:href => "css/reset.css", :rel => "stylesheet"}/
    %link{:href => "css/main.css", :rel => "stylesheet"}/
    %script{:src => "http://code.jquery.com/jquery-latest.min.js", :type => "text/javascript"}
    %script{:src => "js/jquery.localscroll-min.js", :type => "text/javascript"}
    %script{:src => "js/jquery.scrollTo-min.js", :type => "text/javascript"}
    %script{:src => "js/jquery.nav.js", :type => "text/javascript"}
  %body
    %header
      .wrapper
        #logo
          %h1 neemias
        #nav
          %ul.nav-list
            .marker 
            %li.active
              %a{:href => "#home"} Home
            %li
              %a{:href => "#banda"} banda
            %li
              %a{:href => "#contato"} Contato
    %section#home.section.bgimg
    %section#banda.section
      .wrapper
        .title
          .arrow
          %span banda
        .holder
        .row.pessoas
          .column.four
          .column.four
          .column.four ahsidauhsiduhasidh
    %section#contato.section
      .wrapper
        .title
          .arrow
          %span contato
        .holder
    %footer

    %script{:src => "js/main.js", :type => "text/javascript"}