!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title Banda Neemias
    %link{:href => "css/reset.css", :rel => "stylesheet"}/
    %link{:href => "css/main.css", :rel => "stylesheet"}/
    %link{:href => "css/font-awesome.css", :rel => "stylesheet"}/
    %script{:src => "http://code.jquery.com/jquery-latest.min.js", :type => "text/javascript"}
    %script{:src => "js/jquery.localscroll-min.js", :type => "text/javascript"}
    %script{:src => "js/jquery.scrollTo-min.js", :type => "text/javascript"}
    %script{:src => "js/jquery.nav.js", :type => "text/javascript"}
  %body
    %header
      .wrapper
        #logo
          %h1 neemias
        #nav
          %ul.nav-list
            .marker
            %li.active
              %a{:href => "#home"} Home
            %li
              %a{:href => "#banda"} banda
            %li
              %a{:href => "#contato"} Contato
    %section#home.section.bgimg
    %section#banda.section
      .wrapper
        .title
          .arrow
          %span banda
        .holder
        .row.sub-cat
          .left-wrapper
            .subtitle.ep
              .arrow
              %span EP neemias
            .holder
            %img{:src => "img/capa_ep.jpg", :alt => "", :width => "400px"}/
            %ol.tracks{:start => "1"}
              %li O Caminho
              %li Confiar
              %li Canção Perfeita
            .subtitle.agradecimento
              .arrow
              %span agradecimento
            .holder
            %p.agrad-texto A banda Neemias louva a Deus através deste primeiro passo. Agradecemos a todos que se envolveram na criação das músicas, na gravação, intercessão e nos acolhendo nos diversos lugares que fomos. A todos que já tocaram conosco, sofreram, carregaram equipamentos, acreditaram e entregaram seus talentos para nos abençoar tanto. Agradecemos aos pais, amigos, pastores, mantenedores, enfim, a todos os irmãos que cooperaram para que pudéssemos glorificar o nome de Cristo. Que esta caminhada continue para que mais olhos sejam abertos.
          .right-wrapper
            .subtitle
              .arrow
              %span pessoas
            .holder
            %ul.pessoas
              %li
                %img{:src => "img/thumb_tiago.jpg", :alt => ""}/
              %li
                %img{:src => "img/thumb_rafael.jpg", :alt => ""}/
              %li
                %img{:src => "img/thumb_bruno.jpg", :alt => ""}/
              %li
                %img{:src => "img/thumb_thiago.jpg", :alt => ""}/
    %section#contato.section
      .wrapper
        .title
          .arrow
          %span contato
        .holder
        %ul.contato
          %li
            %i.icon-user
            Tiago Torres
          %li
            %i.icon-phone
            Tel: (31) 8763 9082
          %li
            %i.icon-envelope-alt
            email: tiagotorresmelo@yahoo.com.br
          %li
            %a{:href => "https://www.facebook.com/pages/Banda-Neemias/405590002815742?fref=ts", :target => "_blank"}
              %i.icon-facebook
              Banda Neemias
        .holder-bonecos
          .bonecos
            %img{:src => "img/bonecos.png", :alt => "", :height => "300px"}/
    %footer

    %script{:src => "js/main.js", :type => "text/javascript"}