<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Banda Neemias</title>
    <link href='css/reset.css' rel='stylesheet'>
    <link href='css/main.css' rel='stylesheet'>
    <script src='http://code.jquery.com/jquery-latest.min.js' type='text/javascript'></script>
    <script src='js/jquery.localscroll-min.js' type='text/javascript'></script>
    <script src='js/jquery.scrollTo-min.js' type='text/javascript'></script>
    <script src='js/jquery.nav.js' type='text/javascript'></script>
  </head>
  <body>
    <header>
      <div class='wrapper'>
        <div id='logo'>
          <h1>neemias</h1>
        </div>
        <div id='nav'>
          <ul class='nav-list'>
            <div class='marker'></div>
            <li class='active'>
              <a href='#home'>Home</a>
            </li>
            <li>
              <a href='#banda'>banda</a>
            </li>
            <li>
              <a href='#contato'>Contato</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <section class='section bgimg' id='home'></section>
    <section class='section' id='banda'>
      <div class='wrapper'>
        <div class='title'>
          <div class='arrow'></div>
          <span>banda</span>
        </div>
        <div class='holder'></div>
        <div class='row sub-cat'>
          <div class='left-wrapper'>
            <div class='subtitle'>
              <div class='arrow'></div>
              <span>EP neemias</span>
            </div>
            <div class='holder'></div>
            <img alt='' src='img/capa_ep.jpg' width='400px'>
            <ol class='tracks' start='1'>
              <li>O Caminho</li>
              <li>Confiar</li>
              <li>Canção Perfeita</li>
            </ol>
            <div class='bonecos'>
              <img alt='' src='img/bonecos.png'>
            </div>
          </div>
          <div class='right-wrapper'>
            <div class='subtitle'>
              <div class='arrow'></div>
              <span>pessoas</span>
            </div>
            <div class='holder'></div>
            <ul class='pessoas'>
              <li>
                <div class='pessoas-head'>
                  <h1>Tiago</h1>
                  <img alt='' src=''>
                </div>
                <span class='pessoa-bio'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
              </li>
              <li>
                <div class='pessoas-head'>
                  <h1>Bruno</h1>
                  <img alt='' src=''>
                </div>
                <span class='pessoa-bio'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
              </li>
              <li>
                <div class='pessoas-head'>
                  <h1>Rafael</h1>
                  <img alt='' src=''>
                </div>
                <span class='pessoa-bio'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class='section' id='contato'>
      <div class='wrapper'>
        <div class='title'>
          <div class='arrow'></div>
          <span>contato</span>
        </div>
        <div class='holder'></div>
      </div>
    </section>
    <footer></footer>
    <script src='js/main.js' type='text/javascript'></script>
  </body>
</html>
