<!DOCTYPE html>
<html>
  <head>
    <title>Banda Neemias</title>
    <link href='css/reset.css' rel='stylesheet'>
    <link href='css/main.css' rel='stylesheet'>
    <script src='http://code.jquery.com/jquery-latest.min.js' type='text/javascript'></script>
    <script src='js/jquery.localscroll-min.js' type='text/javascript'></script>
    <script src='js/jquery.scrollTo-min.js' type='text/javascript'></script>
    <script src='js/jquery.nav.js' type='text/javascript'></script>
  </head>
  <body>
    <header>
      <div class='wrapper'>
        <div id='logo'>
          <h1>neemias</h1>
        </div>
        <div id='nav'>
          <ul class='nav-list'>
            <li class='home active'>
              <a href='#home'>
                Home
              </a>
            </li>
            <li class='banda'>
              <a href='#banda'>
                banda
              </a>
            </li>
            <li class='contato'>
              <a href='#contato'>
                Contato
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class='section bgimg' id='home'></div>
    <div class='section' id='banda'>
      <div class='wrapper'>
        <h1 class='title'>
          <div class='arrow'></div>
          banda
        </h1>
        <div class='holder'></div>
      </div>
    </div>
    <div class='section' id='contato'></div>
    <script src='js/main.js' type='text/javascript'></script>
  </body>
</html>
