<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Banda Neemias</title>
    <link href='css/reset.css' rel='stylesheet'>
    <link href='css/main.css' rel='stylesheet'>
    <link href='css/font-awesome.css' rel='stylesheet'>
    <script src='http://code.jquery.com/jquery-latest.min.js' type='text/javascript'></script>
    <script src='js/jquery.localscroll-min.js' type='text/javascript'></script>
    <script src='js/jquery.scrollTo-min.js' type='text/javascript'></script>
    <script src='js/jquery.nav.js' type='text/javascript'></script>
  </head>
  <body>
    <header>
      <div class='wrapper'>
        <div id='logo'>
          <h1>neemias</h1>
        </div>
        <div id='nav'>
          <ul class='nav-list'>
            <div class='marker'></div>
            <li class='active'>
              <a href='#home'>Home</a>
            </li>
            <li>
              <a href='#banda'>banda</a>
            </li>
            <li>
              <a href='#contato'>Contato</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <section class='section bgimg' id='home'></section>
    <section class='section' id='banda'>
      <div class='wrapper'>
        <div class='title'>
          <div class='arrow'></div>
          <span>banda</span>
        </div>
        <div class='holder'></div>
        <div class='row sub-cat'>
          <div class='left-wrapper'>
            <div class='subtitle ep'>
              <div class='arrow'></div>
              <span>EP neemias</span>
            </div>
            <div class='holder'></div>
            <img alt='' src='img/capa_ep.jpg' width='400px'>
            <ol class='tracks' start='1'>
              <li>O Caminho</li>
              <li>Confiar</li>
              <li>Canção Perfeita</li>
            </ol>
            <div class='subtitle agradecimento'>
              <div class='arrow'></div>
              <span>agradecimento</span>
            </div>
            <div class='holder'></div>
            <p class='agrad-texto'>A banda Neemias louva a Deus através deste primeiro passo. Agradecemos a todos que se envolveram na criação das músicas, na gravação, intercessão e nos acolhendo nos diversos lugares que fomos. A todos que já tocaram conosco, sofreram, carregaram equipamentos, acreditaram e entregaram seus talentos para nos abençoar tanto. Agradecemos aos pais, amigos, pastores, mantenedores, enfim, a todos os irmãos que cooperaram para que pudéssemos glorificar o nome de Cristo. Que esta caminhada continue para que mais olhos sejam abertos.</p>
          </div>
          <div class='right-wrapper'>
            <div class='subtitle'>
              <div class='arrow'></div>
              <span>pessoas</span>
            </div>
            <div class='holder'></div>
            <ul class='pessoas'>
              <li>
                <img alt='' src='img/thumb_tiago.jpg'>
              </li>
              <li>
                <img alt='' src='img/thumb_rafael.jpg'>
              </li>
              <li>
                <img alt='' src='img/thumb_bruno.jpg'>
              </li>
              <li>
                <img alt='' src='img/thumb_thiago.jpg'>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class='section' id='contato'>
      <div class='wrapper'>
        <div class='title'>
          <div class='arrow'></div>
          <span>contato</span>
        </div>
        <div class='holder'></div>
        <ul class='contato'>
          <li>
            <i class='icon-user'></i>
            Tiago Torres
          </li>
          <li>
            <i class='icon-phone'></i>
            Tel: (31) 8763 9082
          </li>
          <li>
            <i class='icon-envelope-alt'></i>
            email: tiagotorresmelo@yahoo.com.br
          </li>
          <li>
            <a href='https://www.facebook.com/pages/Banda-Neemias/405590002815742?fref=ts' target='_blank'>
              <i class='icon-facebook'></i>
              Banda Neemias
            </a>
          </li>
        </ul>
        <div class='holder-bonecos'>
          <div class='bonecos'>
            <img alt='' height='300px' src='img/bonecos.png'>
          </div>
        </div>
      </div>
    </section>
    <footer></footer>
    <script src='js/main.js' type='text/javascript'></script>
  </body>
</html>
