<!DOCTYPE html>
<html>
  <head>
    <title>Banda Neemias</title>
    <!-- %link{:href => "/css/syntax.css", :rel => "stylesheet"}/ -->
    <link href='css/reset.css' rel='stylesheet'>
    <link href='css/main.css' rel='stylesheet'>
    <script src='http://code.jquery.com/jquery-latest.min.js' type='text/javascript'></script>
  </head>
  <body>
    <header>
      <div class='wrapper'>
        <div id='logo'>
          <h1>neemias</h1>
        </div>
        <div id='nav'>
          <ul class='nav-list'>
            <li class='home active'>Home</li>
            <li class='banda'>Banda</li>
            <li class='contato'>Contato</li>
          </ul>
        </div>
      </div>
    </header>
    <div class='bgimg' id='home'></div>
    <div class='section' id='banda'>
      <div class='wrapper'>
        <h1 class='title'>banda</h1>
        <div class='holder'></div>
      </div>
    </div>
    <!-- #separator -->
    <div id='contato'></div>
    <script src='js/main.js' type='text/javascript'></script>
  </body>
</html>
